    <script type="text/javascript" charset="utf-8" src="/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/plugins/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">商品新增</h1>
        </div>

        <!-- add form -->
        <form action="{:url('save')}" method="post" id="tab" enctype="multipart/form-data">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#basic" data-toggle="tab">基本信息</a></li>
              <li role="presentation"><a href="#desc" data-toggle="tab">商品描述</a></li>
              <li role="presentation"><a href="#attr" data-toggle="tab">商品属性</a></li>
              <li role="presentation"><a href="#pics" data-toggle="tab">商品相册</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="basic">
                    <div class="well">
                        <label>商品名称：</label>
                        <input type="text" name="goods_name" value="" class="input-xlarge">
                        <label>商品价格：</label>
                        <input type="text" name="goods_price" value="" class="input-xlarge">
                        <label>商品数量：</label>
                        <input type="text" name="goods_number" value="" class="input-xlarge">
                        <label>商品logo：</label>
                        <input type="file" name="goods_logo" value="" class="input-xlarge">
                        <label>商品分类：</label>
                        <select name="" id="cate_one" class="input-xlarge">
                            <option value="">请选择一级分类</option>
                            {foreach $cate_one as $v}
                            <option value="{$v.id}">{$v.cate_name}</option>
                            {/foreach}
                        </select>
                        <select name="" id="cate_two" class="input-xlarge">
                            <option value="">请选择二级分类</option>
                        </select>
                        <select name="cate_id" id="cate_three" class="input-xlarge">
                            <option value="">请选择三级分类</option>
                        </select>
                    </div>
                </div>
                <div class="tab-pane fade in" id="desc">
                    <div class="well">
                        <label>商品简介：</label>
                        <textarea  id="editor" name="goods_introduce" class="input-xlarge"
                                   style="width: 800px;height: 500px;"></textarea>
                    </div>
                </div>
                <div class="tab-pane fade in" id="attr">
                    <div class="well">
                        <label><b>商品类型：</b></label>
                        <select name="type_id" class="input-xlarge">
                            <option value="">请选择</option>
                            {foreach $type as $v}
                            <option value="{$v.id}">{$v.type_name}</option>
                            {/foreach}
                        </select>
                        <div id="attrs">
                            <!--<label>商品品牌：</label>-->
                            <!--<input type="text" name="" value="" class="input-xlarge">-->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="pics">
                    <div class="well">
                        <div>[<a href="javascript:void(0);" class="add">+</a>]商品图片：<input type="file" name="goods_pics[]" value="" class="input-xlarge"></div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">保存</button>
                <a class="btn" href="{:url('index')}">返回</a>
            </div>
        </form>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2018 <a href="javascript:void(0);" target="_blank">
                {$Think.session.manager_info.username}</a></p>
        </footer>
    </div>
    <script type="text/javascript">
        $(function(){
            UE.getEditor('editor');
            $('.add').click(function(){
                var add_div = '<div>[<a href="javascript:void(0);" class="sub">-</a>]商品图片：' +
                    '<input type="file" name="goods_pics[]" value="" class="input-xlarge"></div>';
                $(this).parent().after(add_div);
            });
            $('.sub').live('click',function(){
                $(this).parent().remove();
            });
            //绑定一级分类的改变事件 根据一级分类获取二级分类
            $('#cate_one').change(function(){
                //先还原二三级目录
                $('#cate_two').html(' <option value="">请选择二级分类</option>');
                $('#cate_three').html('<option value="">请选择三级分类</option>');
                //获取一级目录的id
                var id=$(this).val();
                //判断id 没选择的时候为空
                if(id==''){return};
                var data={
                    'id':id
                }
                $.ajax({
                    'type':'get',
                    'url':"{:url('admin/category/getsubcate')}",
                    'data':data,
                    'dataType':'json',
                    'success':function(res){
//                        接受数据成功后处理
                        if(res.code!=10000){
                            alert(res.msg);return;
                        }
                        var str='<option value="">请选择二级分类</option>';
                        $.each(res.data ,function(i,v){
                            //v是json对象 是具体的二级数据
                            str+='<option value="'+v.id+'">'+v.cate_name+'</option>';
                        });
                        $('#cate_two').html(str);
                    }
                });
            })
            //绑定二级分类的改变事件 根据二级分类获取三级分类
            $('#cate_two').change(function(){
                //先还原二三级目录
                $('#cate_three').html('<option value="">请选择三级分类</option>');
                //获取一级目录的id
                var id=$(this).val();
                //判断id 没选择的时候为空
                if(id==''){return};
                var data={
                    'id':id
                }
                $.ajax({
                    'type':'get',
                    'url':"{:url('admin/category/getsubcate')}",
                    'data':data,
                    'dataType':'json',
                    'success':function(res){
//                        接受数据成功后处理
                        if(res.code!=10000){
                            alert(res.msg);return;
                        }
                        var str='<option value="">请选择三级分类</option>';
                        $.each(res.data ,function(i,v){
                            //v是json对象 是具体的二级数据
                            str+='<option value="'+v.id+'">'+v.cate_name+'</option>';
                        });
                        $('#cate_three').html(str);
                    }
                });
            })
            $("select[name='type_id']").change(function(){
                $('#attrs').html('');
                //获取选中商品类型的id
                var type_id=$(this).val();
//                console.log(type_id);
                if(type_id==''){return}
                //发送ajax请求 显示下方属性内容
                var data={'type_id':type_id}
                $.ajax({
                    'url':"{:url('admin/attribute/getattr')}",
                    'type':'post',
                    'data':data,
                    'dataType':'json',
                    'success':function(res){
                        if(res.code!=10000){
                            alert(res.msg);return;
                        }
                        //遍历返回的结果集 显示内容
                        var str='';
//                        console.log(res);
                        $.each(res.data,function(i,v){
                            //v 是一条属性对象
                            str+='<label><b>'+v.attr_name+'：</b></label>';
                            //判断attr_inout_type的类型
                            if(v.attr_input_type=='0'){
                                //input输入框
                                str+='<input type="text" name="attr_value['+v.id+'][]" value="" class="input-xlarge">'
                            }else if(v.attr_input_type=='1'){
                                //下拉列表
                                str+='<select name="attr_value['+v.id+'][]">';
                                $.each(v.attr_values,function(key,value){
                                    str+='<option value="'+ value +'">'+value+'</option>'
                                });
                                str+='</select>';
                            }else{
                                //多选框
                                $.each(v.attr_values,function(key,value){
                                    str+='<input type="checkbox" name="attr_value['+v.id+'][]" value="'+value+'">'+value+'';
                                });
                            }
                        });
                        $('#attrs').html(str);


                    }
                });
            });
        });
    </script>
