
    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">商品详情</h1>
        </div>

        <div class="well">
            <label>商品名称：</label>
            <div>宏辉果蔬 苹果 烟台红富士 12枚75mm 单果约170-190g 总重4.2斤</div>
            <label>商品价格：</label>
            <div>25.00</div>
            <label>商品数量：</label>
            <div>2000</div>
            <label>商品图片：</label>
            <div><img src="__STATIC__/admin/img/goods01_thumb.jpg"></div>
            <label>商品简介：</label>
            <div>商品简介商品简介商品简介</div>
        </div>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
